Repository m3kan1cal/neonpanda-proto-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{ts,tsx}": ["prettier --write"],
  "*.{json,md,html,css}": ["prettier --write"]
}

Fix streaming avatar bounce on conversation pages
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
  src/utils/ui/streamingUiHelper.jsx
Due: eslint --fix, prettier --write

Consolidate MessageFooter into shared streamingUiHelper
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
  src/utils/ui/streamingUiHelper.jsx
Due: eslint --fix, prettier --write

Fix MessageFooter user dot/timestamp ordering and memo comparator
  src/utils/ui/streamingUiHelper.jsx
Due: eslint --fix, prettier --write

fix(ci): remove --prerelease flag so releases show as Latest on GitHub
  .github/workflows/release-on-main.yml
Due: none

fix(programs): simplify program cards on ManagePrograms
  src/components/programs/ManagePrograms.jsx
Due: eslint --fix, prettier --write

fix(programs): remove stale coach row from program card loading skeleton
  src/components/programs/ManagePrograms.jsx
Due: eslint --fix, prettier --write

polish(mobile): expand workout stats, fix phase badge layout, tighten page gutter
  src/components/ManageWorkouts.jsx
  src/components/programs/PhaseTimeline.jsx
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

fix(workouts): remove redundant loadTotalWorkoutCount call to fix premature stats loading dismissal
  src/components/ManageWorkouts.jsx
Due: eslint --fix, prettier --write

fix(workouts): eliminate duplicate getWorkouts fetch on ManageWorkouts load
  src/components/ManageWorkouts.jsx
  src/utils/agents/WorkoutAgent.js
Due: eslint --fix, prettier --write

fix(workouts): refresh all stats after workout deletion
  src/components/ManageWorkouts.jsx
Due: eslint --fix, prettier --write

feat: load more pagination for manage list pages
  amplify/dynamodb/analytics.ts
  amplify/dynamodb/coach-conversation.ts
  amplify/dynamodb/memory.ts
  amplify/dynamodb/program.ts
  amplify/dynamodb/shared-program.ts
  amplify/dynamodb/workout.ts
  amplify/functions/get-coach-conversations/handler.ts
  amplify/functions/get-memories/handler.ts
  amplify/functions/get-monthly-reports/handler.ts
  amplify/functions/get-programs/handler.ts
  amplify/functions/get-shared-programs/handler.ts
  amplify/functions/get-weekly-reports/handler.ts
  amplify/functions/get-workouts/handler.ts
  amplify/functions/libs/pagination.ts
  amplify/functions/libs/shared-program/types.ts
  amplify/swagger/openapi.yaml
  public/api-docs/index.html
  src/components/ManageCoachConversations.jsx
  src/components/ManageMemories.jsx
  src/components/ManageWorkouts.jsx
  src/components/ViewReports.jsx
  src/components/programs/ManagePrograms.jsx
  src/components/shared-programs/ManageSharedPrograms.jsx
  src/components/shared/LoadMoreButton.jsx
  src/constants/pagination.js
  src/utils/agents/MemoryAgent.js
  src/utils/agents/ReportAgent.js
  src/utils/agents/WorkoutAgent.js
  src/utils/apis/coachConversationApi.js
  src/utils/apis/memoryApi.js
  src/utils/apis/programApi.js
  src/utils/apis/reportApi.js
  src/utils/apis/sharedProgramApi.js
  src/utils/loadMoreErrors.js
Due: eslint --fix, prettier --write

feat(white-papers): add WhitePaperLayout, primitives, data module, and hub
  src/components/white-papers/WhitePaperLayout.jsx
  src/components/white-papers/WhitePapersIndex.jsx
  src/components/white-papers/primitives/index.jsx
  src/data/whitePapers.js
Due: eslint --fix, prettier --write

feat(white-papers): migrate four use cases to React routes
  src/components/white-papers/WhitePaperRouter.jsx
  src/components/white-papers/papers/UseCaseDavid.jsx
  src/components/white-papers/papers/UseCaseGrant.jsx
  src/components/white-papers/papers/UseCaseJames.jsx
  src/components/white-papers/papers/UseCasePaige.jsx
Due: eslint --fix, prettier --write

feat(nav): wire white papers into routes, header, footer, and utility nav
  src/App.jsx
  src/components/shared/Footer.jsx
  src/components/shared/PublicHeader.jsx
  src/components/themes/SynthwaveComponents.jsx
  src/utils/navigation/navigationConfig.js
  src/utils/routeUtils.js
Due: eslint --fix, prettier --write

chore(amplify): redirect .html white paper URLs to React routes
  amplify.yml
Due: none

chore(white-papers): archive legacy static HTML files
  public/white-papers/use-case-david-returning-athlete.html
  public/white-papers/use-case-grant-first-meet-prep.html
  public/white-papers/use-case-james-functional-chaos.html
  public/white-papers/use-case-paige-respiratory-therapist-iterates.html
Due: prettier --write

docs(skills): update fitness-use-case skill for React-route output
  .claude/skills/fitness-use-case-white-paper/SKILL.md
  .cursor/skills/fitness-use-case-white-paper/SKILL.md
Due: prettier --write

feat(disciplines): add trail_running, backpacking, rucking to backend taxonomy
  amplify/functions/get-exercise-names/handler.ts
  amplify/functions/get-exercises-count/handler.ts
  amplify/functions/libs/exercise/extraction.ts
  amplify/functions/libs/exercise/types.ts
  amplify/functions/libs/schemas/base-schema.ts
  amplify/functions/libs/schemas/discipline-detection-schema.ts
  amplify/functions/libs/schemas/schema-composer.ts
  amplify/functions/libs/schemas/workout-schema.ts
  amplify/functions/libs/workout/pinecone.ts
  amplify/functions/libs/workout/types.ts
Due: prettier --write

feat(disciplines): teach agents mountain disciplines
  amplify/functions/libs/agents/program-designer/prompts.ts
  amplify/functions/libs/agents/workout-logger/prompts.ts
  amplify/functions/libs/agents/workout-logger/tools.ts
  amplify/functions/libs/exercise/normalization.ts
  amplify/functions/libs/schemas/conversation-agent-tool-schemas.ts
  amplify/functions/libs/schemas/workout-logger-tool-schemas.ts
  amplify/functions/libs/workout/discipline-detector.ts
  amplify/functions/libs/workout/extraction.ts
  amplify/functions/libs/workout/extraction/backpacking-guidance.ts
  amplify/functions/libs/workout/extraction/guidance-composer.ts
  amplify/functions/libs/workout/extraction/rucking-guidance.ts
  amplify/functions/libs/workout/extraction/running-guidance.ts
  amplify/functions/libs/workout/extraction/trail-running-guidance.ts
Due: prettier --write

feat(disciplines): frontend plumbing for mountain disciplines
  src/components/WorkoutHeatMap.jsx
  src/components/WorkoutViewer.jsx
  src/components/workout-viewer/disciplines/BackpackingSection.jsx
  src/components/workout-viewer/disciplines/DisciplineRegistry.jsx
  src/components/workout-viewer/disciplines/RuckingSection.jsx
  src/components/workout-viewer/disciplines/TrailRunningSection.jsx
  src/components/workouts/shareCardMetrics.js
  src/constants/disciplines.js
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

docs(disciplines): update public copy, blog, and changelog to 14 disciplines
  docs/ideas/mountain-disciplines.md
  docs/strategy/BRANDING_STRATEGY.md
  public/updates/platform-update-apr-2026.html
  src/components/AboutUs.jsx
  src/components/FAQs.jsx
  src/components/LandingPage.jsx
  src/components/Technology.jsx
  src/components/blog/BlogIndex.jsx
  src/components/blog/BlogPost2CoachCreator.jsx
  src/components/blog/BlogPost3WorkoutLogger.jsx
  src/components/blog/BlogPost4ProgramDesigner.jsx
  src/components/docs/LoggingWorkouts.jsx
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

test(disciplines): fixtures and detection evals for mountain disciplines
  amplify/functions/libs/agents/workout-logger/agent.test.ts
  test/evals/discipline-detection/README.md
  test/evals/discipline-detection/baseline.json
  test/evals/discipline-detection/fixtures.json
  test/evals/discipline-detection/runner.ts
Due: prettier --write

fix(workouts): align mobile workout title with section headers, rename Details to The Setup
  src/components/programs/ViewWorkouts.jsx
Due: eslint --fix, prettier --write

fix(workouts): degrade gracefully on count failure; fix training-days timezone
  src/utils/agents/WorkoutAgent.js
Due: eslint --fix, prettier --write

feat(seo): ship Tier 1 SEO fixes
  amplify.yml
  index.html
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
  src/auth/components/AuthRouter.jsx
  src/components/AboutUs.jsx
  src/components/Changelog.jsx
  src/components/ContactForm.jsx
  src/components/FAQs.jsx
  src/components/LandingPage.jsx
  src/components/PrivacyPolicy.jsx
  src/components/Technology.jsx
  src/components/TermsOfService.jsx
  src/components/blog/BlogIndex.jsx
  src/components/blog/BlogPostRouter.jsx
  src/components/docs/DocsLayout.jsx
  src/components/subscription/WelcomePage.jsx
  src/hooks/useSeoHead.js
  src/utils/routeUtils.js
Due: eslint --fix, prettier --write

fix(seo): always reset meta description on route change
  src/hooks/useSeoHead.js
Due: eslint --fix, prettier --write

fix(disciplines): format backpacking moving_time and wire SSOT into UI
  src/components/AboutUs.jsx
  src/components/WorkoutHeatMap.jsx
  src/components/workout-viewer/disciplines/BackpackingSection.jsx
  src/constants/disciplines.js
Due: eslint --fix, prettier --write

fix(seo): address Bugbot findings on robots.txt and routeUtils
  public/robots.txt
  src/utils/routeUtils.js
Due: eslint --fix, prettier --write

fix(disciplines): register schema plugins for trail_running, backpacking, rucking
  amplify/functions/libs/schemas/disciplines/backpacking-schema.ts
  amplify/functions/libs/schemas/disciplines/rucking-schema.ts
  amplify/functions/libs/schemas/disciplines/trail-running-schema.ts
  amplify/functions/libs/schemas/schema-composer.ts
Due: prettier --write

fix(disciplines): segment unit labels and last AboutUs 14-drift
  amplify/functions/libs/exercise/extraction.ts
  src/components/AboutUs.jsx
Due: eslint --fix, prettier --write

fix(disciplines): segment displays now respect distance_unit and elevation_unit
  src/components/workout-viewer/disciplines/BackpackingSection.jsx
  src/components/workout-viewer/disciplines/RuckingSection.jsx
  src/components/workout-viewer/disciplines/TrailRunningSection.jsx
Due: eslint --fix, prettier --write

Fix SEO meta tag restoration on cleanup and deduplicate statusPillClass
  src/components/white-papers/WhitePaperLayout.jsx
  src/components/white-papers/WhitePapersIndex.jsx
  src/data/whitePapers.js
Due: eslint --fix, prettier --write

Fix white-paper doc-meta bug and extract shared SEO hook
  src/components/white-papers/WhitePaperLayout.jsx
  src/components/white-papers/WhitePapersIndex.jsx
  src/hooks/usePageSEO.js
Due: eslint --fix, prettier --write

Fix SSOT violations in discipline validators and consolidate formatDistanceUnit utility
  amplify/functions/libs/exercise/types.ts
  amplify/functions/libs/schemas/workout-schema.ts
  src/components/shared/distanceFormatters.js
  src/components/workout-viewer/disciplines/BackpackingSection.jsx
  src/components/workout-viewer/disciplines/RuckingSection.jsx
  src/components/workout-viewer/disciplines/TrailRunningSection.jsx
Due: eslint --fix, prettier --write

Consolidate pagination logic: use centralized applyPaginationSlice helper
  amplify/dynamodb/analytics.ts
  amplify/dynamodb/coach-conversation.ts
  amplify/dynamodb/memory.ts
  amplify/dynamodb/program.ts
  amplify/dynamodb/shared-program.ts
  amplify/dynamodb/workout.ts
Due: prettier --write

fix(ui): remove unused disciplineBadgeByColor dead code from uiPatterns
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

fix(ui): restore full uiPatterns.js with disciplineBadgeByColor removed
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

fix(backpacking): replace invalid surface enum value in extraction example
  amplify/functions/libs/workout/extraction/backpacking-guidance.ts
Due: prettier --write

Fix two bugs: coachId query parameter and workout sort order defaults
  amplify/dynamodb/workout.ts
  amplify/functions/get-programs/handler.ts
Due: prettier --write

fix(exercise): use isSupportedDiscipline guard in handler validators
  amplify/functions/get-exercise-names/handler.ts
  amplify/functions/get-exercises-count/handler.ts
Due: prettier --write
