Repository m3kan1cal/neonpanda-proto-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix streaming Lambda invocation type and missing APPS_BUCKET_NAME env var
  amplify/backend.ts
  amplify/functions/warmup-platform/handler.ts
Due: prettier --write

Fix cross-stack circular dependency for guardrail and username uniqueness gap
  amplify/backend.ts
  amplify/functions/post-confirmation/handler.ts
  amplify/functions/process-post-turn/handler.ts
  amplify/shared-policies.ts
Due: prettier --write

Fix ECONNRESET noise from stale SSM keep-alive connections in warm Lambda containers
  amplify/functions/libs/ssm-utils.ts
Due: prettier --write

Fix guardrail resolver retry and extract shared workout dedup helper
  amplify/functions/libs/agents/conversation/tools.ts
  amplify/functions/libs/agents/workout-logger/tools.ts
  amplify/functions/libs/workout/data-utils.ts
  amplify/functions/libs/workout/index.ts
  amplify/functions/process-post-turn/handler.ts
Due: prettier --write

Fix missing S3 apps IAM permission for delete-program hard deletes
  amplify/backend.ts
Due: prettier --write

Remove warmup-platform Lambda to fix streaming dispatch corruption
  AGENTS.md
  amplify/backend.ts
  amplify/functions/libs/auth/middleware.ts
  amplify/functions/libs/schemas/conversation-agent-tool-schemas.ts
  amplify/functions/libs/schemas/program-designer-tool-schemas.ts
  amplify/functions/libs/schemas/workout-logger-tool-schemas.ts
  amplify/functions/libs/ssm-utils.ts
  amplify/functions/stream-coach-conversation/handler.ts
  amplify/functions/stream-coach-creator-session/handler.ts
  amplify/functions/stream-program-designer-session/handler.ts
  amplify/functions/warmup-platform/handler.ts
  amplify/functions/warmup-platform/resource.ts
  docs/implementations/BEDROCK_MODEL_INVENTORY.md
  docs/strategy/STRUCTURED_OUTPUTS_STRATEGY.md
Due: prettier --write

Added triage skill
  .cursor/skills/triage-pr-findings/SKILL.md
Due: prettier --write

Fix missing @aws-sdk/client-bedrock dependency and implicit any type
  amplify/functions/process-post-turn/handler.ts
  package-lock.json
  package.json
Due: prettier --write

Add comprehensive CLAUDE.md for AI assistant onboarding
  CLAUDE.md
Due: prettier --write

Align CLAUDE.md with AGENTS.md coverage
  CLAUDE.md
Due: prettier --write

Sync AGENTS.md and CLAUDE.md to full parity
  AGENTS.md
  CLAUDE.md
Due: prettier --write

Add ECS agent architecture proposal for migrating agent workloads from Lambda
  docs/proposals/ECS_AGENT_ARCHITECTURE.md
Due: prettier --write

Reduce AI hallucination surface in behavioral pattern dedup
  amplify/functions/libs/memory/behavioral.ts
Due: prettier --write

Migrate fetch-incident-logs.js from Cursor Agent CLI to Claude Code
  scripts/fetch-incident-logs.js
Due: eslint --fix, prettier --write

Added agentcore exploration doc
  docs/proposals/AGENTCORE_RUNTIME_ARCHITECTURE.md
Due: prettier --write

Remove Bash from read-only allowedTools in fetch-incident-logs.js
  scripts/fetch-incident-logs.js
Due: eslint --fix, prettier --write

Improve Haiku schema compliance for conversation summary array fields
  amplify/functions/build-conversation-summary/handler.ts
  amplify/functions/libs/schemas/conversation-summary-schema.ts
Due: prettier --write

Add unit tests for normalizeSchemaArrayFields and incident string-wrap pattern
  amplify/functions/libs/coach-conversation/summary.test.ts
  amplify/functions/libs/object-utils.test.ts
Due: prettier --write

Add document attachment support and polish ContextualChatDrawer UX
  amplify/functions/generate-upload-urls/handler.ts
  amplify/functions/libs/agents/core/streaming-agent.ts
  amplify/functions/libs/coach-conversation/response-orchestrator.ts
  amplify/functions/libs/coach-conversation/types.ts
  amplify/functions/libs/streaming/multimodal-helpers.ts
  amplify/functions/libs/streaming/request-validation.ts
  amplify/functions/send-coach-conversation-message/handler.ts
  amplify/functions/stream-coach-conversation/handler.ts
  src/auth/components/AuthRouter.jsx
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
  src/components/WorkoutDetails.jsx
  src/components/shared/ChatInput.jsx
  src/components/shared/ContextualChatDrawer.jsx
  src/components/shared/DocumentAttachment.jsx
  src/components/shared/EntityChatFAB.jsx
  src/hooks/useFileUpload.js
  src/index.css
  src/utils/agents/CoachConversationAgent.js
  src/utils/agents/streamingAgentHelper.js
  src/utils/apis/coachConversationApi.js
  src/utils/apis/streamingLambdaApi.js
  src/utils/ui/streamingUiHelper.jsx
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Filter workout_edit conversations from Training Grounds recent list
  src/utils/agents/CoachConversationAgent.js
Due: eslint --fix, prettier --write

Fix attachment-only send guard and flex alignment in chat UI
  src/components/shared/ChatInput.jsx
  src/components/shared/ContextualChatDrawer.jsx
Due: eslint --fix, prettier --write

Harden coach identity and tool-use against platform deflection
  amplify/functions/libs/agents/coach-creator-session/prompts.ts
  amplify/functions/libs/agents/conversation/prompts.test.ts
  amplify/functions/libs/agents/conversation/prompts.ts
  amplify/functions/libs/agents/program-designer-session/prompts.ts
  amplify/functions/libs/agents/workout-logger/prompts.ts
  amplify/functions/libs/coach-conversation/summary.ts
  amplify/functions/libs/coach-creator/coach-generation.ts
  amplify/functions/libs/memory/prospective.test.ts
  amplify/functions/libs/memory/prospective.ts
  amplify/functions/libs/prompts/platform-identity.ts
  amplify/functions/libs/user/living-profile.ts
  test/integration/coach-conversation-identity.test.ts
Due: prettier --write

Updated misc fixes
  amplify/functions/libs/agents/core/streaming-agent.ts
  amplify/functions/libs/api-helpers.ts
  amplify/functions/libs/coach-conversation/response-orchestrator.ts
  amplify/functions/libs/pinecone-compression.ts
  amplify/functions/libs/streaming/multimodal-helpers.ts
  amplify/functions/stream-coach-conversation/handler.ts
  amplify/functions/stream-coach-creator-session/handler.ts
  amplify/functions/stream-program-designer-session/handler.ts
  docs/strategy/LAUNCH_PLAN.md
  package-lock.json
  package.json
  public/updates/beta-update-oct-19-2025.html
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
  src/components/shared/DocumentThumbnail.jsx
  src/hooks/useFileUpload.js
  src/utils/changelogData.js
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Added .claude for sharing
  .claude/skills/analyze-incident-logs/SKILL.md
  .claude/skills/triage-pr-findings/SKILL.md
Due: prettier --write

Fix stale closure dropping UI updates on drawer reopen
  src/components/shared/ContextualChatDrawer.jsx
Due: eslint --fix, prettier --write

Remove unused DocumentAttachment component
  src/components/shared/DocumentAttachment.jsx
Due: eslint --fix, prettier --write

Preserve documentS3Keys when loading existing conversations
  src/utils/agents/CoachConversationAgent.js
Due: eslint --fix, prettier --write

Extract SUPPORTED_DOCUMENT_EXTENSIONS to shared document-types.ts
  amplify/functions/generate-upload-urls/handler.ts
  amplify/functions/libs/document-types.ts
  amplify/functions/libs/streaming/request-validation.ts
  amplify/functions/send-coach-conversation-message/handler.ts
Due: prettier --write

Fix TS2345 error in SUPPORTED_DOCUMENT_EXTENSIONS includes check
  amplify/functions/libs/document-types.ts
Due: prettier --write

Added .claude for sharing
  .gitignore
Due: none

Persist documentS3Keys in conversation messages for all streaming handlers
  amplify/functions/stream-coach-conversation/handler.ts
  amplify/functions/stream-coach-creator-session/handler.ts
  amplify/functions/stream-program-designer-session/handler.ts
Due: prettier --write

Harden prospective memory platform-support filter
  amplify/functions/libs/memory/prospective.ts
Due: prettier --write

Remove membership from cancellation pattern to avoid gym membership false positives
  amplify/functions/libs/memory/prospective.ts
Due: prettier --write

Scope cancel pattern to account-only; fix chat verb preposition
  amplify/functions/libs/memory/prospective.ts
Due: prettier --write

Apply Synthwave UI polish: gradient headers, empty states, glow feedback
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/Coaches.jsx
  src/components/ManageCoachConversations.jsx
  src/components/ManageExercises.jsx
  src/components/ManageMemories.jsx
  src/components/ManageWorkouts.jsx
  src/components/ProgramDesigner.jsx
  src/components/TrainingGrounds.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/ViewReports.jsx
  src/components/WeeklyReports.jsx
  src/components/WorkoutDetails.jsx
  src/components/analytics/TrainingPulse.jsx
  src/components/programs/ManagePrograms.jsx
  src/components/programs/ProgramDashboard.jsx
  src/components/programs/ViewWorkouts.jsx
  src/components/shared-programs/ManageSharedPrograms.jsx
  src/components/shared/ChatInput.jsx
  src/components/shared/EmptyStateCard.jsx
  src/components/shared/Toast.jsx
  src/index.css
  src/utils/agents/TrainingGroundsAgent.js
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Fix duplicate empty state CTA and dead glow animation on modal close
  src/components/ManageCoachConversations.jsx
  src/components/programs/ManagePrograms.jsx
Due: eslint --fix, prettier --write

Fix dead saveGlowing state and ChatInput send glow targeting unmounted button
  src/components/programs/ManagePrograms.jsx
  src/components/shared/ChatInput.jsx
Due: eslint --fix, prettier --write

Add missing chat verb to support filter; fix ViewWorkouts glow targeting unmounted button
  amplify/functions/libs/memory/prospective.ts
  src/components/programs/ViewWorkouts.jsx
Due: eslint --fix, prettier --write

Guard ManageWorkouts empty state against error condition
  src/components/ManageWorkouts.jsx
Due: eslint --fix, prettier --write

Persist document attachments and polish chat UI
  amplify/functions/libs/program-designer/handler-helpers.ts
  amplify/functions/libs/streaming/business-types.ts
  amplify/functions/libs/workout-creator/handler-helpers.ts
  amplify/functions/stream-coach-conversation/handler.ts
  src/components/shared/ChatInput.jsx
  src/components/shared/ImageWithPresignedUrl.jsx
  src/index.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json,md,html,css})
