Repository m3kan1cal/neonpanda-proto-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: remove deprecated Husky headers from commit-msg hook
  .husky/commit-msg
Due: none

Fixed some bugs
  amplify/dynamodb/operations.ts
  amplify/functions/libs/agents/core/agent.ts
  package-lock.json
  package.json
Due: prettier --write

Converted build program v2 to ai agent
  amplify/backend.ts
  amplify/functions/build-program-v2/handler.ts
  amplify/functions/build-program-v2/resource.ts
  amplify/functions/libs/agents/program-designer/agent.ts
  amplify/functions/libs/agents/program-designer/helpers.ts
  amplify/functions/libs/agents/program-designer/prompts.ts
  amplify/functions/libs/agents/program-designer/tools.ts
  amplify/functions/libs/agents/program-designer/types.ts
  amplify/functions/libs/agents/workout-logger/tools.ts
  amplify/functions/libs/coach-conversation/detection.ts
  amplify/functions/libs/coach-conversation/pinecone.ts
  amplify/functions/libs/coach-creator/pinecone.ts
  amplify/functions/libs/pinecone-compression.ts
  amplify/functions/libs/program-creator/conversation-handler.ts
  amplify/functions/libs/program-creator/question-generator.ts
  amplify/functions/libs/program-creator/todo-extraction.ts
  amplify/functions/libs/program/pinecone.ts
  amplify/functions/libs/user/pinecone.ts
  amplify/functions/libs/workout/pinecone.ts
  src/utils/changelogData.js
  test/integration/test-build-program-v2.ts
Due: eslint --fix, prettier --write

Fixed program bugs
  amplify/functions/libs/agents/program-designer/agent.ts
  amplify/functions/libs/pinecone-compression.ts
Due: prettier --write

Fixed program bugs - part 1
  amplify/functions/libs/agents/program-designer/agent.ts
  amplify/functions/libs/agents/program-designer/prompts.ts
Due: prettier --write

Fixed program bugs - part 2
  amplify/functions/libs/agents/program-designer/agent.ts
  amplify/functions/libs/agents/program-designer/tools.ts
Due: prettier --write

Fixed program bugs - part 3
  amplify/functions/libs/agents/program-designer/tools.ts
  amplify/functions/libs/pinecone-compression.ts
  amplify/functions/libs/program-creator/question-generator.ts
Due: prettier --write

Fixed issue with compression
  amplify/functions/libs/coach-conversation/detection.ts
  amplify/functions/libs/pinecone-compression.ts
  amplify/functions/libs/streaming/formatters.ts
  amplify/functions/libs/streaming/types.ts
  amplify/functions/stream-coach-conversation/handler.ts
  src/components/CoachConversations.jsx
  src/utils/agents/CoachConversationAgent.js
  src/utils/agents/streamingAgentHelper.js
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Fixed bug related to pinecone
  amplify/functions/build-program-v2/handler.ts
Due: prettier --write

Removed old functions
  amplify/backend.ts
  amplify/functions/build-program-v2/handler.ts
  amplify/functions/build-program/handler.ts
  amplify/functions/build-program/resource.ts
  amplify/functions/build-workout/handler.ts
  amplify/functions/build-workout/resource.ts
  amplify/functions/create-program-designer-session/handler.ts
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Fixed bugbot bugs - part 1
  amplify/functions/libs/agents/program-designer/agent.ts
  amplify/functions/stream-program-designer-session/handler.ts
Due: prettier --write

Cleaned up training grounds
  amplify/dynamodb/operations.ts
  src/App.jsx
  src/components/ProgramDesigner.jsx
  src/components/TrainingGrounds.jsx
  src/components/WorkoutDetails.jsx
  src/components/WorkoutDetailsV2.jsx
  src/components/WorkoutViewer.jsx
  src/components/WorkoutViewerV2.jsx
  src/components/navigation/SidebarNav.jsx
  src/components/programs/ActiveProgramSummary.jsx
  src/components/programs/ManagePrograms.jsx
  src/components/programs/ProgramDashboard.jsx
  src/components/programs/TodaysWorkoutCard.jsx
  src/components/programs/ViewWorkouts.jsx
  src/contexts/NavigationContext.jsx
  src/utils/agents/WorkoutAgent.js
  src/utils/changelogData.js
  src/utils/navigation/navigationConfig.js
Due: eslint --fix, prettier --write

Updated weekly reports to v2
  docs/implementations/STRIPE_INTEGRATION.md
  src/components/WeeklyHeatMap.jsx
  src/components/WeeklyReportViewer.jsx
  src/components/WeeklyReports.jsx
  src/components/themes/SynthwaveComponents.jsx
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Fixed detect discipline bug
  amplify/functions/build-workout-v2/handler.ts
  amplify/functions/libs/agents/workout-logger/prompts.ts
Due: prettier --write

Fixed date parsing issue
  amplify/functions/libs/agents/workout-logger/tools.ts
Due: prettier --write

Fixed logging and discipline detection
  amplify/dynamodb/operations.ts
  amplify/functions/libs/workout/discipline-detector.ts
Due: prettier --write

Fixed images used for discipline detection
  amplify/functions/libs/agents/workout-logger/tools.ts
  amplify/functions/libs/workout/discipline-detector.ts
Due: prettier --write

Upgraded reports to v2
  amplify/backend.ts
  amplify/functions/build-program/handler.ts
  amplify/functions/build-program/resource.ts
  amplify/functions/build-workout/handler.ts
  amplify/functions/build-workout/resource.ts
  amplify/functions/libs/agents/workout-logger/prompts.ts
  amplify/functions/libs/agents/workout-logger/tools.ts
  amplify/functions/libs/response-utils.ts
  amplify/functions/libs/workout/discipline-detector.ts
  amplify/functions/libs/workout/extraction.ts
  amplify/functions/libs/workout/normalization.ts
  package-lock.json
  package.json
  src/utils/changelogData.js
  test/README.md
  test/integration/test-build-program.ts
  test/integration/test-build-workout.ts
  test/integration/types.ts
Due: eslint --fix, prettier --write

Fixed bugbot bugs - part 1
  amplify/functions/create-program-designer-session/handler.ts
Due: prettier --write

Fix stripe issue
  amplify/functions/create-stripe-portal-session/handler.ts
  amplify/functions/process-stripe-webhook/handler.ts
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Added public update
  amplify/functions/create-stripe-portal-session/handler.ts
  amplify/functions/process-stripe-webhook/handler.ts
  amplify/functions/process-stripe-webhook/helpers.ts
  public/updates/beta-update-dec-31-2025.html
  public/updates/index.html
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Fixed model ID bug
  amplify/functions/libs/coach-creator/coach-generation.ts
Due: prettier --write

Changed model ID for questions
  amplify/functions/libs/coach-creator/question-generator.ts
  amplify/functions/libs/program-designer/question-generator.ts
  amplify/functions/libs/program/question-generator.ts
Due: prettier --write

Fixed save bug in subscriptions
  amplify/dynamodb/operations.ts
  amplify/functions/get-subscription-status/handler.ts
  amplify/functions/libs/subscription/types.ts
  amplify/functions/process-stripe-webhook/handler.ts
Due: prettier --write

Fixed save bug in subscriptions - part 1
  amplify/functions/process-stripe-webhook/handler.ts
Due: prettier --write

Refactor: Use CoachCreatorAgent for config generation
  amplify/functions/build-coach-config/handler.ts
  amplify/functions/libs/agents/coach-creator/agent.ts
  amplify/functions/libs/agents/coach-creator/helpers.ts
  amplify/functions/libs/agents/coach-creator/prompts.ts
  amplify/functions/libs/agents/coach-creator/tools.ts
  amplify/functions/libs/agents/coach-creator/types.ts
Due: prettier --write

Refactor: Implement Weekly Analytics Agent V2
  amplify/functions/build-weekly-analytics/handler.ts
  amplify/functions/libs/agents/weekly-analytics/agent.ts
  amplify/functions/libs/agents/weekly-analytics/helpers.ts
  amplify/functions/libs/agents/weekly-analytics/index.ts
  amplify/functions/libs/agents/weekly-analytics/prompts.ts
  amplify/functions/libs/agents/weekly-analytics/tools.ts
  amplify/functions/libs/agents/weekly-analytics/types.ts
Due: prettier --write

Fixed bugbot bugs - part 1
  amplify/functions/libs/agents/coach-creator/agent.ts
  amplify/functions/libs/agents/coach-creator/tools.ts
Due: prettier --write

Fixed bugbot bugs - part 2
  amplify/functions/build-coach-config/handler.ts
  docs/implementations/VOICE_MESSAGING_IMPLEMENTATION.md
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
Due: eslint --fix, prettier --write

Fixed bugbot bugs - part 3
  amplify/functions/libs/agents/coach-creator/agent.ts
  amplify/functions/libs/agents/coach-creator/helpers.ts
Due: prettier --write

Fixed bugbot bugs - part 4
  amplify/functions/libs/agents/program-designer/agent.ts
Due: prettier --write

Fixed bugbot bugs - part 5
  amplify/functions/libs/agents/program-designer/agent.ts
Due: prettier --write

Fixed bugbot bugs - part 6
  amplify/functions/libs/agents/coach-creator/agent.ts
  amplify/functions/libs/agents/program-designer/agent.ts
Due: prettier --write

Fixed bugbot bugs - part 7
  amplify/functions/libs/agents/coach-creator/agent.ts
  amplify/functions/libs/agents/program-designer/agent.ts
Due: prettier --write

Fixed bugbot bugs - part 8
  amplify/functions/libs/agents/coach-creator/agent.ts
  amplify/functions/libs/agents/program-designer/agent.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json,md,html,css})
