Repository m3kan1cal/neonpanda-proto-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Scope lightbox Escape key to close only the lightbox
  src/components/shared/ImageWithPresignedUrl.jsx
Due: eslint --fix, prettier --write

Centralize user message construction in buildUserMessage helper
  amplify/functions/libs/coach-conversation/message-utils.ts
  amplify/functions/libs/program-designer/handler-helpers.ts
  amplify/functions/libs/workout-creator/goodbye-utils.ts
  amplify/functions/libs/workout-creator/handler-helpers.ts
  amplify/functions/stream-coach-conversation/handler.ts
Due: prettier --write

feat(training-grounds): inline coach chat drawer with FAB
  src/components/TrainingGroundsV2.jsx
  src/components/shared/ContextualChatDrawer.jsx
  src/constants/contextualChat.js
  src/utils/agents/CoachConversationAgent.js
Due: eslint --fix, prettier --write

fix(ContextualChatDrawer): rebind training agent callbacks; remove dead ref
  SCRIPTS_MLF.md
  src/components/shared/ContextualChatDrawer.jsx
  src/index.css.backup
Due: eslint --fix, prettier --write

Add export-user-dynamodb.ts script and ignore exports/
  .gitignore
  scripts/export-user-dynamodb.ts
Due: prettier --write

fix: training chat sessionStorage; drop SCRIPTS_MLF from repo
  .gitignore
  SCRIPTS_MLF.md
  src/components/shared/ContextualChatDrawer.jsx
Due: eslint --fix, prettier --write

export-user-dynamodb: plain text, --profile, optional shared programs
  scripts/export-user-dynamodb.ts
Due: prettier --write

chore(deps): upgrade npm packages and fix Vite 8 / Stripe22 / lint
  amplify/functions/create-stripe-portal-session/handler.ts
  amplify/functions/process-stripe-webhook/handler.ts
  config/amplify-outputs.local-stub.json
  eslint.config.js
  package-lock.json
  package.json
  public/api-docs/index.html
  src/auth/utils/authHelpers.js
  src/components/ManageExercises.jsx
  src/components/programs/ViewWorkouts.jsx
  src/components/shared/ChatInput.jsx
  src/components/workout-viewer/disciplines/RunningSection.jsx
  src/utils/agents/ProgramDesignerAgent.js
  vite.config.js
Due: eslint --fix, prettier --write

fix(CoachConversationAgent): add inline home tag before removing from old
  src/utils/agents/CoachConversationAgent.js
Due: eslint --fix, prettier --write

Polish Training Grounds contextual chat drawer
  src/components/CoachConversations.jsx
  src/components/shared/CoachConversationEmptyTips.jsx
  src/components/shared/ContextualChatDrawer.jsx
  src/components/shared/EntityChatFAB.jsx
Due: eslint --fix, prettier --write

chore: bump Tiptap packages to ^3.22.4
  package-lock.json
  package.json
Due: prettier --write

Add Claude skill: fitness use-case white papers from Dynamo dumps
  .claude/skills/fitness-use-case-white-paper/SKILL.md
  .claude/skills/fitness-use-case-white-paper/reference-long-form.md
Due: prettier --write

Add Cursor project skill for fitness use-case white papers
  .cursor/skills/fitness-use-case-white-paper/SKILL.md
  .cursor/skills/fitness-use-case-white-paper/reference-long-form.md
Due: prettier --write

fix: tighter tooltips, drawer toolbar layout, scroll after conv switch
  src/components/shared/ContextualChatDrawer.jsx
  src/index.css
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

White-paper skills: subject-centered tone for share-worthy stories
  .claude/skills/fitness-use-case-white-paper/SKILL.md
  .cursor/skills/fitness-use-case-white-paper/SKILL.md
Due: prettier --write

style: slightly increase tooltip inner padding (6px 12px)
  src/index.css
Due: prettier --write

style: add 2px tooltip padding (8px 14px)
  src/index.css
Due: prettier --write

docs: white papers, skills sync, and changelog v1.0.20260418-beta
  .claude/skills/fitness-use-case-white-paper/SKILL.md
  .cursor/skills/fitness-use-case-white-paper/SKILL.md
  public/white-papers/use-case-david-returning-athlete.html
  public/white-papers/use-case-nathan-first-meet-prep.html
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

chore: add monthly-platform-update-html skills for Claude and Cursor
  .claude/skills/monthly-platform-update-html/SKILL.md
  .cursor/skills/monthly-platform-update-html/SKILL.md
Due: prettier --write

Add James functional chaos use-case white paper HTML
  public/white-papers/use-case-james-functional-chaos.html
Due: prettier --write

Add Paige nurse-iterates use-case white paper HTML
  public/white-papers/use-case-paige-nurse-iterates.html
Due: prettier --write

docs(white-papers): add product contribution callouts for David, James, Nathan
  public/white-papers/use-case-david-returning-athlete.html
  public/white-papers/use-case-james-functional-chaos.html
  public/white-papers/use-case-nathan-first-meet-prep.html
Due: prettier --write

feat(mobile): immersive Training Grounds inline coach chat
  src/App.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/shared/ContextualChatDrawer.jsx
  src/contexts/NavigationContext.jsx
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

chore: align OpenAPI with API Gateway and remove dead debug route
  amplify/swagger/openapi.yaml
  public/api-docs/index.html
  src/App.jsx
  src/auth/components/LoginForm.jsx
  src/components/StreamingDebugTest.jsx
Due: eslint --fix, prettier --write

fix(mobile): history stack + stable onClose for inline coach drawer
  src/App.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/shared/ContextualChatDrawer.jsx
  src/contexts/NavigationContext.jsx
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

fix(mobile): history stack + stable onClose for inline coach drawer
  src/components/TrainingGroundsV2.jsx
  src/components/shared/ContextualChatDrawer.jsx
Due: eslint --fix, prettier --write

docs(white-paper): publish Grant first-meet prep use case
  public/images/white-papers/grant-avatar.png
  public/white-papers/use-case-grant-first-meet-prep.html
Due: prettier --write

docs(white-paper): use NeonPanda, LLC on publication line
  public/white-papers/use-case-grant-first-meet-prep.html
Due: prettier --write

chore(white-paper): enlarge Grant subject portrait (220px -> 300px)
  public/white-papers/use-case-grant-first-meet-prep.html
Due: prettier --write

feat(streaming): richer contextual updates across coach surfaces
  amplify/functions/libs/agents/core/streaming-agent.test.ts
  amplify/functions/libs/agents/core/streaming-agent.ts
  amplify/functions/libs/agents/core/types.ts
  amplify/functions/libs/agents/shared/message-caching.ts
  amplify/functions/libs/coach-conversation/contextual-updates.ts
  amplify/functions/libs/streaming/index.ts
  amplify/functions/libs/streaming/streaming-contextual-flags.test.ts
  amplify/functions/libs/streaming/streaming-contextual-flags.ts
  amplify/functions/libs/streaming/streaming-contextual-llm.ts
  amplify/functions/libs/streaming/streaming-contextual-static.test.ts
  amplify/functions/libs/streaming/streaming-contextual-static.ts
  amplify/functions/stream-coach-conversation/handler.ts
  amplify/functions/stream-coach-creator-session/handler.ts
  amplify/functions/stream-program-designer-session/handler.ts
Due: prettier --write

fix(streaming): dedupe stream events; race pulse vs stream
  amplify/functions/libs/agents/core/streaming-agent.ts
  public/white-papers/use-case-paige-respiratory-therapist-iterates.html
Due: prettier --write

fix(streaming): reserve LLM pulse budget per invocation
  amplify/functions/libs/agents/core/streaming-agent.ts
Due: prettier --write

Add April 2026 platform update HTML and v1.0.20260419-beta changelog entry
  .claude/skills/monthly-platform-update-html/SKILL.md
  .cursor/skills/monthly-platform-update-html/SKILL.md
  public/updates/platform-update-apr-2026.html
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Highlight chat-anywhere rollout and tease endurance disciplines
  public/updates/platform-update-apr-2026.html
Due: prettier --write

Add solid background-color fallbacks to dark gradient sections
  public/updates/platform-update-apr-2026.html
Due: prettier --write

ci: add GitHub release workflow for main merges
  .github/workflows/release-on-main.yml
Due: none

content: April 2026 platform update — Google sign-in
  .gitignore
  public/updates/platform-update-apr-2026.html
  scripts/send-platform-update-email.ts
  scripts/social-content-pipeline.mjs
Due: prettier --write

Add program dashboard inline coach chat with server program context
  amplify/functions/libs/agents/conversation/prompts.ts
  amplify/functions/libs/streaming/request-validation.test.ts
  amplify/functions/libs/streaming/request-validation.ts
  amplify/functions/stream-coach-conversation/handler.ts
  src/components/programs/ProgramDashboard.jsx
  src/components/shared/ContextualChatDrawer.jsx
  src/utils/agents/CoachConversationAgent.js
  src/utils/apis/coachConversationApi.js
  src/utils/apis/streamingLambdaApi.js
Due: eslint --fix, prettier --write

Add html-to-text dependency required by send-platform-update-email.ts script
  package.json
Due: prettier --write

Cache program context in conversation metadata to avoid repeated fetches
  amplify/dynamodb/coach-conversation.ts
  amplify/functions/stream-coach-conversation/handler.ts
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json,md,html,css})
