Repository m3kan1cal/neonpanda-proto-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Upgraded cross-context sharing - part 1
  amplify/functions/libs/workout/validation-helpers.ts
  src/utils/changelogData.js
Due: eslint --fix, prettier --write

Upgraded cross-context sharing - part 2
  amplify/functions/libs/workout/extraction.ts
Due: prettier --write

Updated pineconce record usage
  amplify/functions/delete-coach-creator-session/handler.ts
  amplify/functions/libs/agents/program-designer/tools.ts
  amplify/functions/libs/api-helpers.ts
  amplify/functions/libs/coach-conversation/context.ts
  amplify/functions/libs/coach-creator/pinecone.ts
  amplify/functions/libs/pinecone-utils.ts
  docs/stripe-production-migration.md
  src/utils/changelogData.js
  test/integration/cleanup-test-data.ts
  test/integration/test-build-program.ts
Due: eslint --fix, prettier --write

Added cross-context improvements to chats
  amplify/functions/libs/agents/program-designer/tools.ts
  amplify/functions/libs/api-helpers.ts
  amplify/functions/libs/coach-conversation/context.ts
  amplify/functions/libs/coach-creator/conversation-handler.ts
  amplify/functions/libs/coach-creator/question-generator.ts
  amplify/functions/libs/pinecone-utils.ts
  amplify/functions/libs/program-designer/handler-helpers.ts
  amplify/functions/libs/program-designer/question-generator.ts
  amplify/functions/process-stripe-webhook/handler.ts
  amplify/functions/stream-coach-creator-session/handler.ts
  amplify/functions/stream-program-designer-session/handler.ts
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
  src/index.css
  src/utils/changelogData.js
  src/utils/ui/streamingUiHelper.jsx
Due: eslint --fix, prettier --write

Fixed bugbot and copilot issues - part 1
  amplify/functions/process-stripe-webhook/handler.ts
Due: prettier --write

Fixed bugbot and copilot issues - part 2
  src/components/CoachConversations.jsx
  src/components/CoachCreator.jsx
  src/components/ProgramDesigner.jsx
  src/index.css
  src/utils/changelogData.js
  src/utils/ui/streamingUiHelper.jsx
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Upgraded training grounds to v2
  amplify/api/resource.ts
  amplify/backend.ts
  amplify/dynamodb/workout.ts
  amplify/functions/generate-greeting/handler.ts
  amplify/functions/generate-greeting/resource.ts
  amplify/functions/libs/coach-config/greeting-prompts.ts
  amplify/functions/libs/greeting/types.ts
  amplify/functions/libs/program/duration-parser.ts
  amplify/functions/process-stripe-webhook/handler.ts
  public/images/blog-posts/training-program.jpg
  public/updates/ui-nav.html
  src/App.jsx
  src/components/AboutUs.jsx
  src/components/FAQs.jsx
  src/components/LandingPage.jsx
  src/components/Technology.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/blog/BlogIndex.jsx
  src/components/blog/BlogPost.jsx
  src/components/blog/BlogPost1Foundation.jsx
  src/components/blog/BlogPost2CoachCreator.jsx
  src/components/blog/BlogPost3WorkoutLogger.jsx
  src/components/blog/BlogPost4ProgramDesigner.jsx
  src/components/blog/BlogPost5Orchestration.jsx
  src/components/blog/BlogPostRouter.jsx
  src/components/programs/ProgramList.jsx
  src/components/programs/TodaysWorkoutRow.jsx
  src/utils/agents/ProgramAgent.js
  src/utils/apis/greetingApi.js
  src/utils/changelogData.js
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 1
  amplify/functions/libs/agents/workout-logger/agent.ts
  amplify/functions/libs/agents/workout-logger/prompts.ts
  src/utils/changelogData.js
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 2
  docs/implementations/WORKOUT_LOGGER_AGENT_ARCHITECTURE.md
  public/images/icons/retro/hackernoon-purcat.svg
  public/images/icons/retro/tag-solid.svg
  src/components/Coaches.jsx
  src/components/ManageCoachConversations.jsx
  src/components/ManageExercises.jsx
  src/components/ManageMemories.jsx
  src/components/ManageWorkouts.jsx
  src/components/Settings.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/ViewReports.jsx
  src/components/WeeklyReports.jsx
  src/components/WorkoutDetails.jsx
  src/components/programs/ManagePrograms.jsx
  src/components/programs/ProgramDashboard.jsx
  src/components/programs/TodaysWorkoutRow.jsx
  src/components/programs/ViewWorkouts.jsx
  src/components/shared-programs/ManageSharedPrograms.jsx
  src/components/shared/AppFooter.jsx
  src/components/themes/SynthwaveComponents.jsx
  src/utils/changelogData.js
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 3
  amplify/functions/libs/program/duration-parser.ts
  src/components/TrainingGroundsV2.jsx
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 4
  src/components/TrainingGroundsV2.jsx
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 5
  src/components/blog/BlogPost2CoachCreator.jsx
  src/components/blog/BlogPost3WorkoutLogger.jsx
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 6
  src/components/TrainingGroundsV2.jsx
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 7
  src/components/TrainingGroundsV2.jsx
Due: eslint --fix, prettier --write

Upgraded training grounds to v2 - part 8
  src/components/TrainingGroundsV2.jsx
Due: eslint --fix, prettier --write

Added PRs section
  amplify/functions/get-workouts/handler.ts
  docs/implementations/DASHBOARD_FEATURES_ROADMAP.md
  src/components/TrainingGroundsV2.jsx
  src/components/highlights/RecentPRsCard.jsx
  src/components/themes/SynthwaveComponents.jsx
  src/utils/agents/WorkoutAgent.js
Due: eslint --fix, prettier --write

Added PRs section - part 1
  amplify/functions/libs/user/types.ts
  src/components/Settings.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/highlights/RecentPRsCard.jsx
  src/utils/agents/WorkoutAgent.js
  src/utils/workout/constants.js
Due: eslint --fix, prettier --write

Added PRs section - part 2
  src/components/TrainingGroundsV2.jsx
  src/utils/agents/WorkoutAgent.js
Due: eslint --fix, prettier --write

Added parallelization to workout logger agent
  amplify/functions/build-workout/handler.ts
  amplify/functions/libs/agents/workout-logger/agent.ts
  amplify/functions/libs/agents/workout-logger/prompts.ts
  amplify/functions/libs/agents/workout-logger/tools.ts
  amplify/functions/libs/agents/workout-logger/types.ts
  docs/implementations/DASHBOARD_FEATURES_ROADMAP.md
  docs/implementations/WORKOUT_LOGGER_AGENT_ARCHITECTURE.md
  package-lock.json
  package.json
  src/components/workout-viewer/disciplines/RunningSection.jsx
  src/utils/changelogData.js
  test/integration/test-build-workout.ts
  test/integration/types.ts
Due: eslint --fix, prettier --write

Fixed bugbot and copilot issues - part 1
  amplify/functions/libs/agents/workout-logger/agent.ts
Due: prettier --write

Fixed bugbot and copilot issues - part 2
  amplify/functions/libs/agents/workout-logger/agent.ts
Due: prettier --write

Fixed bugbot and copilot issues - part 1
  amplify/functions/libs/agents/workout-logger/tools.ts
Due: prettier --write

Upgrade dependencies and migrate Tailwind CSS v3 to v4
  package-lock.json
  package.json
  postcss.config.js
  src/index.css
  tailwind.config.js
  vite.config.js
Due: eslint --fix, prettier --write

Added streak and top exercises
  amplify/functions/libs/schemas/base-schema.ts
  amplify/functions/libs/workout/extraction.ts
  amplify/functions/libs/workout/extraction/base-guidance.ts
  amplify/functions/libs/workout/types.ts
  docs/implementations/DASHBOARD_FEATURES_ROADMAP.md
  src/components/ManageWorkouts.jsx
  src/components/TrainingGroundsV2.jsx
  src/components/WorkoutViewer.jsx
  src/components/highlights/RecentPRsCard.jsx
  src/components/highlights/StreakCard.jsx
  src/components/highlights/TopExercisesCard.jsx
  src/components/programs/TodaysWorkoutRow.jsx
  src/components/programs/ViewWorkouts.jsx
  src/components/themes/SynthwaveComponents.jsx
  src/utils/agents/WorkoutAgent.js
  src/utils/workout/constants.js
Due: eslint --fix, prettier --write

Added streak and top exercises - part 1
  docs/implementations/DASHBOARD_FEATURES_ROADMAP.md
  src/components/WorkoutDetails.jsx
  src/components/WorkoutViewer.jsx
  src/components/highlights/RecentPRsCard.jsx
  src/components/highlights/TopExercisesCard.jsx
  src/utils/dateUtils.js
Due: eslint --fix, prettier --write

Added streak and top exercises - part 2
  src/utils/agents/WorkoutAgent.js
Due: eslint --fix, prettier --write

Added streak and top exercises - part 3
  src/components/TrainingGroundsV2.jsx
Due: eslint --fix, prettier --write

Fixed bugbot and copilot issues - part 1
  amplify/functions/libs/workout-creator/conversation-handler.ts
  amplify/functions/stream-coach-conversation/handler.ts
Due: prettier --write

Fixed bugbot and copilot issues - part 2
  amplify/functions/libs/workout-creator/handler-helpers.ts
  amplify/functions/stream-coach-conversation/handler.ts
  eslint.config.js
Due: eslint --fix, prettier --write

Fixed bugbot and copilot issues - part 3
  amplify/functions/libs/workout-creator/handler-helpers.ts
  eslint.config.js
Due: eslint --fix, prettier --write

Fixed bugbot and copilot issues - part 4
  amplify/functions/libs/workout-creator/conversation-handler.ts
  amplify/functions/libs/workout-creator/goodbye-utils.ts
Due: prettier --write

Added loglevel for logging - part 1
  amplify/api/resource.ts
  amplify/backend.ts
Due: prettier --write

Added loglevel for logging - part 2
  amplify/functions/libs/logger.ts
  src/utils/logger.js
Due: eslint --fix, prettier --write

Add .npmrc for legacy peer dependency resolution
  .npmrc
Due: none

Configure legacy peer deps for Amplify builds
  amplify.yml
Due: none

Replace textareas with Tiptap rich text editors
  package-lock.json
  package.json
  src/components/CoachConversations.jsx
  src/components/ProgramDesigner.jsx
  src/components/programs/ViewWorkouts.jsx
  src/components/shared/ChatInput.jsx
  src/components/shared/TiptapEditor.jsx
  src/index.css
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Extend Tiptap editors to all remaining textarea elements
  src/components/Settings.jsx
  src/components/StreamingDebugTest.jsx
  src/components/Theme.jsx
  src/components/shared/FormInput.jsx
  src/utils/ui/uiPatterns.js
Due: eslint --fix, prettier --write

Add Swagger/OpenAPI documentation for all API endpoints
  amplify.yml
  amplify/swagger/openapi.yaml
  package.json
  public/api-docs/index.html
  scripts/generate-swagger.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{json,md,html,css})
